/* Ерөнхий тохиргоо */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive, sans-serif;
}

body {
  background-color: #faf6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-height: 100vh;
  position: relative;
}

.background {
  background-color: #faf6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 390px;
  height: 720px;
}

.background-black {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-radius: 24px;
  gap: 12px;
  width: 390px;
  height: 720px;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
}

#text {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sweet-btn {
  background-color: yellow;
  border-radius: 12px;
  font-size: 32px;
  font-weight: 400;
  padding: 12px 24px;
}

.appearance {
  border-radius: 24px;
  background-color: #5e5e5e;
  border: 1px solid #fff;
  position: absolute;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 4px;
  top: 48px;
  right: 48px;
}

#sun {
  width: 48px;
  height: 48px;
}

#moon {
  width: 48px;
  height: 48px;
}
